<!DOCTYPE html>
<html>
<head>
    <title>Send Message</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #264653;;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 40px;
            margin-bottom: 10px;
            color: #e9c46a;
        }
    </style>
    <body>
        <div class="container">
            <h1>Your short url succesfully added!</h1>
        </div>
    </body>
</head>
</html>